[submodule "NativeFileDialog/src"]
	path = NativeFileDialog/src
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "BurstLinker/src"]
	path = BurstLinker/src
	url = https://github.com/Xrysnow/BurstLinker.git
[submodule "cLaTeXMath/src"]
	path = cLaTeXMath/src
	url = https://github.com/NanoMichael/cLaTeXMath.git
[submodule "nanosvg"]
	path = nanosvg
	url = https://github.com/memononen/nanosvg.git
[submodule "libzippp/src"]
	path = libzippp/src
	url = https://github.com/ctabin/libzippp.git
[submodule "FairyGUI/src"]
	path = FairyGUI/src
	url = https://github.com/fairygui/FairyGUI-cocos2dx.git
